services:
  - type: web
    name: New Clinic Launch Tracker
    env: python
    rootDir: clinic-tracker
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: PORT
        value: 10000
